@CHARSET "UTF-8";
.Quiz .Container{
  width:95%;
  margin:auto auto;
  background-color:rgba(255,255,255,0.50);
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}