.form-register form {
  max-width:300px;
  width:90%;
  background-color:rgba(255,255,255,0.50);
  margin:auto auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  border-radius:40px;
  padding:40px;
}

.form-register form .form-control {
  background:#f7f9fc;
  height:42px;
}

.form-register {
  padding:100px;
  background:url(../../resources/img/education2.jpg);
}

button.btn.btn-default.form-control {
  background:#f4476b;
  text-shadow:none;
  color:#f7f9fc;
}

