.form-profile form {
  max-width:500px;
  padding:40px;
  width:90%;
  background-color:rgba(255,255,255,0.50);
  margin:auto auto;
  border-radius:40px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.form-profile {
  padding:130px;
  background:url(../../resources/img/education2.jpg);
}

.form-profile form .form-control {
  background-color:#f7f9fc;
  height:42px;
}

button.btn.btn-default.form-control {
  background:#f4476b;
  text-shadow:none;
  color:#f7f9fc;
}

