.form-register form {
  max-width:300px;
  width:90%;
  background-color:rgba(255,255,255,0.50);
  margin:auto auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  border-radius:40px;
  padding:40px;
}

.form-register form .form-control {
  background:#f7f9fc;
  height:42px;
}

.form-register {
  padding:120px;
  background:url(../../resources/img/alternative-Education_Chalkboard.jpg);
}

button.btn.btn-default.form-control {
  background:#f4476b;
  color:#f7f9fc;
  text-shadow:none;
}

.form-register form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.form-register form a {
  align-content:center;
}


.form-register .form-group a {
  text-align: center;
}