#heading .jumbotron {
  border-radius:20px;
  padding:20px;
  background-color:rgba(255,255,255,0.75);
  max-width:none;
}

#heading {
  text-align:center;
  padding:48px;
  background:url(../../resources/img/education.jpg) no-repeat;
  background-size:cover;
}

#heading .jumbotron {
  padding:20px;
}

